{
    "root": true,
    "extends": ["eslint:recommended"],
    "ignorePatterns": [
        "node_modules/",
        "dist/",
        "build/",
        "coverage/",
        "docs/",
        "examples/",
        "angularjs-examples/",
        ".*/"
    ]
}
