.todoList {
    display: block;
    padding: 1vw;
    margin: 1vw;
    list-style: none;

    color: var(--primary);

    border: 1px solid var(--accent);
}

.todoList .todoList__items {
    display: block;
    padding: 1vw;
    margin: 1vw;
    list-style: none;
}

.todoList .todoList__items li {
    display: flex;
    padding: 1vw;
    margin: 1vw;
    list-style: none;
    color: var(--primary-contrast);
    background-color: var(--primary);
    justify-content: space-between;
    
}

.todoList__items .todoList__deleteItemBtn {
    /* background-color: unset; */
    /* border: none; */ 
}


.todoList__items .todoList__deleteItemBtn i {
    color: var(--warn);
    font-size: large;
}

.todoList__items .todoList__addItemBtn {
   
}